/* Month.css */
.month-container {
  display: flex;
  flex-direction: column;
  flex: 1;

}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
}